.columna{
    background:#af7ead;
    padding: 30px;
    color:#FDDBFF ;
}
.titulo{
    background: #af7ead;
    padding: 20px; ;
    color: #FDDBFF;
}
.texto{
    color: #af7ead;
}
.multi {
    background-image: linear-gradient(to left, #FF5733 , #C70039 , #900C3F , #581845 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}